# Rancher Api
{{ if getenv "CATTLE_URL"}}
rancher.api.url: "{{getenv "CATTLE_URL"}}"
{{ else }}
    {{if (exists "/rancher/api/url")}}
rancher.api.url: "{{getv "/rancher/api/url" ""}}"
    {{else}}
rancher.api.url:
    {{end}}
{{ end }}
{{ if getenv "CATTLE_ACCESS_KEY"}}
rancher.api.key: "{{getenv "CATTLE_ACCESS_KEY"}}"
{{ else }}
    {{if (exists "/rancher/api/key")}}
rancher.api.key: "{{getv "/rancher/api/key" ""}}"
    {{else}}
rancher.api.key:
    {{end}}
{{ end }}
{{ if getenv "CATTLE_SECRET_KEY"}}
rancher.api.secret: "{{getenv "CATTLE_SECRET_KEY"}}"
{{ else }}
    {{if (exists "/rancher/api/secret")}}
rancher.api.secret: "{{getv "/rancher/api/secret" ""}}"
    {{else}}
 rancher.api.secret:   
    {{end}}
{{ end }}
{{if (exists "/rancher/db/host")}}
rancher.db.host: "{{getv "/rancher/db/host"}}"
{{else}}
rancher.db.host:
{{end}}
rancher.db.port: {{getv "/rancher/db/port" "3306"}}
{{if (exists "/rancher/db/user")}}
rancher.db.user: "{{getv "/rancher/db/user"}}"
{{else}}
rancher.db.user:
{{end}}
{{if (exists "/rancher/db/password")}}
rancher.db.password: "{{getv "/rancher/db/password"}}"
{{end}}
rancher.db.name: "{{getv "/rancher/db/name" "rancher"}}"

# Backup module
module.databases: {{getv "/module/database" "true"}}
module.stack: {{getv "/module/stack" "true"}}
module.rancher-db: {{getv "/module/rancher-db" "true"}}

# Duplicity Policy
duplicity.source-path: "{{getv "/duplicity/source-path" "/backup"}}"
duplicity.target-path: "{{getv "/duplicity/target-path" "/backup"}}"
{{if (exists "/duplicity/url")}}
duplicity.url: "{{getv "/duplicity/url"}}"
{{else}}
duplicity.url:
{{end}}
{{if (exists "duplicity/options")}}
duplicity.options: "{{getv "duplicity/options"}}"
{{else}}
duplicity.options:
{{end}}
duplicity.full-if-older-than: "{{getv "/duplicity/full-if-older-than" "7D"}}"
duplicity.remove-all-but-n-full: {{getv "/duplicity/remove-all-but-n-full" "3"}}
duplicity.remove-all-inc-of-but-n-full: {{getv "/duplicity/remove-all-inc-of-but-n-full" "1"}}
duplicity.volsize: {{getv "/duplicity/volsize" "200"}}

# cron
cron.schedule: "{{getv "/cron/schedule" "0 0 0 * * *"}}"

